body {
    background-image: url("https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/272b7cb5-30ae-49f0-b531-dee5f76283b6");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px;
    padding:0px;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      height: 75px;
      overflow: hidden;
      background-color: white;
    }

    .navbar li {
      float: right;
      }

    .normal-link {
      display: block;
      font-family: "Trebuchet MS", Times, serif;
      font-size: : 18px;
      color: #2e2e38;
      text-align: center;
      margin-top: 10px;
      padding: 16px 15px;
      text-decoration: none;
      }

    .normal-link:hover {
      color: lightgrey;
    }

    .navbar img {
      float: left;
      margin-top: 10px;
      margin-left: 20%;
      }

      .dropdown {
        display: inline-block;
        padding: 0px;
      }

      .dropdown-content {
        position: absolute;
        display: none;
        min-width: 120px;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }

      .dropdown-link {
        text-align:left;
        display: block;
        font-family: "Trebuchet MS", Times, serif;
        font-size: : 16px;
        color: #2e2e38;
        text-align: left;
        padding: 16px 15px;
        text-decoration: none;
      }

      .dropdown-link:hover {
        color: red;
      }

      .dropdown:hover .dropdown-content {
        display: block
      }

.intro-text {
  font-family: "Trebuchet MS", Times, serif;
  text-align:center;
  background-color: rgba(77, 77, 77,0.8);
  padding: 150px 120px;
}

.intro-text h1 {
  font-size: 65px;
  color: white;
  margin: 0px 15% 5% 15%;
}

.top-button1 {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(255, 80, 80);
  border-radius: 5px;
  padding: 14px 15px;
  color: white;
  min-width: 140px;
  margin-right: 10px;
  transition-duration: 0.8s;
}

.top-button2 {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(102, 255, 153);
  border-radius: 5px;
  padding: 14px 15px;
  color: white;
  min-width: 140px;
  transition-duration: 0.8s;
}

.top-button1:hover, .top-button2:hover {
  background-color: black;
}

.doedoes {
  font-family: "Trebuchet MS", Times, serif;
  color: #2e2e38;
  text-align:center;
  background-color: white;
  padding: 80px;
}

.doedoes h2 {
  font-size: 50px;
  text-decoration-style: solid;
  }
